# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build

# Ignore bin folder
/lib/bin

# Ignore local settings
/lib/.settings
/lib/.classpath
.settings


#Ignore site details for spider
/lib/src/main/resources/spiderConfig.properties
/bin/
